<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerUrl" value="https://full.forum.hn:445"/>
    <add key="Username" value="**USERNAME**"/>
    <add key="Password" value="**PASSWORD**"/>
    <add key="MainPostId" value="10003593"/>
  </appSettings>
</configuration>